<table class="table">
    <tr>
        <td class="col1">Address:</td>
        <td class="col2">{{ address }}</td>
        <td class="col3">{{ address_db }}</td>
    </tr>
    <tr>
        <td class="col1">Type:</td>
        <td class="col2">{{ address_type }}</td>
        <td class="col3"></td>
    </tr>
    <tr>
        <td class="col1">Network:</td>
        <td class="col2">{{ network_dd }}</td>
        <td class="col3">{{ network_db }}</td>
    </tr>
    <tr>
        <td class="col1">Netmask:</td>
        <td class="col2">{{ netmask_dd }}</td>
        <td class="col3">{{ netmask_db }}</td>
    </tr>
    <tr>
        <td class="col1">PrefLen:</td>
        <td class="col2">{{ preflen }}</td>
        <td class="col3"></td>
    </tr>
    <tr>
        <td class="col1">Wildcard:</td>
        <td class="col2">{{ wildcard_dd }}</td>
        <td class="col3">{{ wildcard_db }}</td>
    </tr>
    <tr>
        <td class="col1">HostMin:</td>
        <td class="col2">{{ hostmin_dd }}</td>
        <td class="col3">{{ hostmin_db }}</td>
    </tr>
    <tr>
        <td class="col1">HostMax:</td>
        <td class="col2">{{ hostmax_dd }}</td>
        <td class="col3">{{ hostmax_db }}</td>
    </tr>
    <tr>
        <td class="col1">Broadcast:</td>
        <td class="col2">{{ broadcast_dd }}</td>
        <td class="col3">{{ broadcast_db }}</td>
    </tr>
    <tr>
        <td class="col1">Hosts:</td>
        <td class="col2">{{ hosts }}</td>
        <td class="col3"></td>
    </tr>
    <tr>
        <td class="col1">Net Type:</td>
        <td class="col2">{{ type }}</td>
        <td class="col3"></td>
    </tr>
        <tr>
        <td class="col1">Class:</td>
        <td class="col2">{{ class }}</td>
        <td class="col3"></td>
    </tr>
</table>
