{% extends 'base.html' %}
{%- block title %}About {{ super() }}{% endblock -%}
{% block content %}
<h2>About</h2>
<!--<p>- Hello, what is <b>subnetting</b>?</p>-->
<h3>Subnetting</h3>
<p>Subnetting is the process of dividing a larger network into several smaller subnetworks.
    This is done to improve network manageability, enhance security, and optimize resource utilization.
    During subnetting, each subnetwork is assigned a unique identifier (IP address),
    which allows it to be separated from other subnetworks within the same network.
    This improves network performance and enables more efficient traffic management.</p>
<!--<p>- Okay, what is <b>ip calculator</b>?</p>-->
<h3>IP Calculator</h3>
<p>An IP calculator is a tool used to calculate various parameters of IP addresses,
    such as subnet mask, address range, number of hosts, etc. It can be useful for
    network administrators when configuring and managing network devices.
    An IP calculator can be a web application or software installed on a computer.</p>
<h3>App</h3>
<p>This application was written by a network engineer,
    it does not use cookies and does not execute any scripts on the client side. <br>
    Enjoy using.</p>
{% endblock %}