{% extends 'base.html' %}
{%- block content %}
<!-- BEGIN NETWORK INPUT -->
<div class="container mt-5">
  <div class="row">
    <div class="col-12">
      <h1 class="text-center">IP calculator</h1>
      <form method="get">
        <div class="input-group mb-3">
          <input type="text" class="form-control shadow-none" autofocus="autofocus" placeholder="Network"
                 aria-label="Network" name="network"
                 value="{{ request.args.get('network', '') }}">
          <input type="submit" hidden/>
          <button type="submit" class="btn btn-primary">Calculate</button>
        </div>
      </form>
    </div>
  </div>
</div>
<!-- END NETWORK INPUT -->
<!-- BEGIN INCLUDE IPv4-->
{%- if Version == 'IPv4' %}
{% include 'addr_template/ipv4addr.html' %}
{% include 'addr_template/ipv4net.html' %}
{%- if subnet_list %}
<div class="container mt-5">
  <div class="row">
    <div class="col-12">
      <h3>Subnets:</h3>
    </div>
  </div>
</div>
{%- for subnet in subnet_list %}
{% include 'addr_template/ipv4subnet.html' -%}
{% endfor -%}
{% endif -%}
{% endif -%}
<!-- END INCLUDE IPv4-->
<!-- BEGIN INCLUDE IPv6-->
{%- if Version == 'IPv6' %}
{% include 'addr_template/ipv6addr.html' %}
{% include 'addr_template/ipv6net.html' %}
{%- if subnet_list %}
<div class="container mt-5">
  <div class="row">
    <div class="col-12">
      <h3>Subnets: {{ subnet_count }}</h3>
    </div>
  </div>
</div>
{%- for subnet in subnet_list %}
{% include 'addr_template/ipv6subnet.html' %}
{% endfor -%}
{% endif -%}
{% endif -%}
<!-- END INCLUDE IPv6-->
<!-- BEGIN INCLUDE ERROR-->
{%- if calc_error %}
{% include 'error_template/calc_error.html' %}
{% endif -%}
<!-- END INCLUDE ERROR-->
{% endblock -%}