<table class="table">
    <tr>
        <td class="v6_col1">Network:</td>
        <td class="v6_col2">{{ subnet.network_hex }}</td>
    </tr>
    <tr>
        <td class="v6_col1">HostMin:</td>
        <td class="v6_col2">{{ subnet.hostmin_hex }}</td>
    </tr>
    <tr>
        <td class="v6_col1">HostMax:</td>
        <td class="v6_col2">{{ subnet.hostmax_hex }}</td>
    </tr>
    <tr>
        <td class="v6_col1">Broadcast:</td>
        <td class="v6_col2">{{ subnet.broadcast_hex }}</td>
    </tr>
    <tr>
        <td class="v6_col1">Hosts:</td>
        <td class="v6_col2">{{ subnet.hosts }}</td>
    </tr>
</table>