<div class="container mt-5">
  <div class="row">
    <div class="col-12">
      <table class="table table-sm">
        <tr>
          <th class="col-3" scope="row">Network</th>
          <td class="col-3">{{ Network_DD }}</td>
          <td class="col-6">{{ Network_DB }}</td>
        </tr>
        <tr>
          <th class="col-3" scope="row">Netmask</th>
          <td class="col-3">{{ Netmask_DD }}</td>
          <td class="col-6">{{ Netmask_DB }}</td>
        </tr>
        <tr>
          <th class="col-3" scope="row">Wildcard</th>
          <td class="col-3">{{ Wildcard_DD }}</td>
          <td class="col-6">{{ Wildcard_DB }}</td>
        </tr>
        <tr>
          <th class="col-3" scope="row">Broadcast</th>
          <td class="col-3">{{ Broadcast_DD }}</td>
          <td class="col-6">{{ Broadcast_DB }}</td>
        </tr>
        <tr>
          <th scope="row">HostMin</th>
          <td class="col-3">{{ HostMin_DD }}</td>
          <td class="col-6">{{ HostMin_DB }}</td>
        </tr>
        <tr>
          <th class="col-3" scope="row">HostMax</th>
          <td class="col-3">{{ HostMax_DD }}</td>
          <td class="col-6">{{ HostMax_DB }}</td>
        </tr>
        <tr>
          <th class="col-3" scope="row">Addr/Host</th>
          <td class="col-3">{{ Addresses_Hosts }}</td>
          <td class="col-6">{{ Type }}</td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>