<div class="container mt-5">
  <div class="row">
    <div class="col-12">
      <table class="table table-sm">
        <tr>
          <th scope="row">Network</th>
          <td>{{ subnet.Network_DD }}</td>
          <td>{{ subnet.Network_DB }}</td>
        </tr>
        <tr>
          <th scope="row">Broadcast</th>
          <td>{{ subnet.Broadcast_DD }}</td>
          <td>{{ subnet.Broadcast_DB }}</td>
        </tr>
        <tr>
          <th scope="row">HostMin</th>
          <td>{{ subnet.HostMin_DD }}</td>
          <td>{{ subnet.HostMin_DB }}</td>
        </tr>
        <tr>
          <th scope="row">HostMax</th>
          <td>{{ subnet.HostMax_DD }}</td>
          <td>{{ subnet.HostMax_DB }}</td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>