<!--  -->
<div class="container mt-5">
  <div class="row">
    <div class="col-12">
      <table class="table table-sm">
<!--        <tr>-->
<!--          <th scope="row"></th>-->
<!--          <td></td>-->
<!--        </tr>-->
        <tr class="mt-5">
          <th scope="row">Network</th>
          <td>{{ Network_hex }}</td>
          <td>{{ Type }}</td>
        </tr>
        <tr>
          <th scope="row">Netmask</th>
          <td>{{ Netmask_hex }}</td>
          <td></td>
        </tr>
        <tr>
          <th scope="row">Wildcard</th>
          <td>{{ Wildcard_hex }}</td>
          <td></td>
        </tr>
        <tr>
          <th scope="row">HostMin</th>
          <td>{{ HostMin_hex }}</td>
          <td></td>
        </tr>
        <tr>
          <th scope="row">HostMax</th>
          <td>{{ HostMax_hex }}</td>
          <td></td>
        </tr>
        <tr>
          <th scope="row">Broadcast</th>
          <td>{{ Broadcast_hex }}</td>
          <td></td>
        </tr>
        <tr>
          <th scope="row">Addresses/Hosts</th>
          <td>{{ Addresses_Hosts }}</td>
          <td></td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
<!-- -->