<table class="table">
    <tr>
        <td class="v6_col1">Address:</td>
        <td class="v6_col2">{{ address_hex }}</td>
    </tr>
    <tr>
        <td class="v6_col1">Type:</td>
        <td class="v6_col2">{{ address_type }}</td>
    </tr>
    <tr>
        <td class="v6_col1">Network:</td>
        <td class="v6_col2">{{ network_hex }}</td>
    </tr>
    <tr>
        <td class="v6_col1">Netmask:</td>
        <td class="v6_col2">{{ netmask_hex }}</td>
    </tr>
    <tr>
        <td class="v6_col1">PrefLen:</td>
        <td class="v6_col2">{{ preflen }}</td>
    </tr>
    <tr>
        <td class="v6_col1">Wildcard:</td>
        <td class="v6_col2">{{ wildcard_hex }}</td>
    </tr>
    <tr>
        <td class="v6_col1">HostMin:</td>
        <td class="v6_col2">{{ hostmin_hex }}</td>
    </tr>
    <tr>
        <td class="v6_col1">HostMax:</td>
        <td class="v6_col2">{{ hostmax_hex }}</td>
    </tr>
    <tr>
        <td class="v6_col1">Broadcast:</td>
        <td class="v6_col2">{{ broadcast_hex }}</td>
    </tr>
    <tr>
        <td class="v6_col1">Hosts:</td>
        <td class="v6_col2">{{ hosts }}</td>
    </tr>
    <tr>
        <td class="v6_col1">Net Type:</td>
        <td class="v6_col2">{{ type }}</td>
    </tr>
</table>