<!--  -->
<div class="container mt-5">
  <div class="row">
    <div class="col-12">
      <table class="table table-sm">
        <thead>
        <tr>
          <th scope="col">{{ Version }}</th>
          <th scope="col">HEX</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <th scope="row">Address</th>
          <td>{{ Address_hex }}</td>
        </tr>
        <tr>
          <th scope="row">Address type</th>
          <td>{{ Address_type }}</td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
<!-- -->