<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="{{ url_for('static', filename='css/styles.css') }}" rel="stylesheet">
    <link rel="shortcut icon" href="{{ url_for('static', filename='img/favicon.svg') }}" type="image/svg+xml">
    <title>IP Calc</title>
</head>
<body>
<section>
    <div class="wrapper">
        <header class="page-header">
            <ul>
                <li class="inline"><a href="{{ url_for('ipcalc') }}">IP Calc</a></li>
                <li class="inline"><a href="{{ url_for('faq') }}">FAQ</a></li>
                <li class="inline"><a href="{{ url_for('about') }}">About</a></li>
            </ul>
            <hr>
        </header>
        <main class="page-body">
            {%- block content %}
            {% endblock -%}
        </main>
        <footer class="page-footer">
            <hr>
            <p>&copy; 2023 Pavlov Aleksey</p>
            <p>Powered by <a href="https://flask.palletsprojects.com/">Flask</a>
            </p>
        </footer>
    </div>
</section>
</body>
</html>
