{% extends 'base.html' %}
{%- block content %}
<form method="get">
    <label for="network">Сopy and paste from your network device config:</label>
    <input id="network" type="text" autofocus="autofocus" name="network" value="{{ request.args.get('network', '') }}">
    <input type="submit" value="do it">
</form>

{%- if version == 'IPv4' %}
{% include 'addr_template/ipv4.html' %}
{%- if sub_error %}
<p>Subnets:</p>
<p>Error: {{ sub_error }}</p>
{% endif -%}
{%- if subnets %}
<p>Subnets:</p>
{%- for subnet in subnets %}
{% include 'addr_template/ipv4subnet.html' -%}
{% endfor -%}
{% endif -%}
{% endif -%}
{%- if version == 'IPv6' %}
{% include 'addr_template/ipv6.html' %}
{%- if sub_error %}
<p>Subnets:</p>
<p>Error: {{ sub_error }}</p>
{% endif -%}
{%- if subnets %}
<p>Subnets:</p>
{%- for subnet in subnets %}
{% include 'addr_template/ipv6subnet.html' %}
{% endfor -%}
{% endif -%}
{% endif -%}
{%- if net_error %}
<p>Error: {{ net_error }}</p>
{% endif -%}
{% endblock -%}
